#primeiro-titulo {
    color:blue;
    background-color:#f49859;
}

#primeiro-paragrafo {
    background-color: aquamarine;
    font-size: 20px;
    border-style: double;
    border-color: #f49859;
}
#image-djow{
    width: 300px;
}